In [1]:
%pip install pandas

Requirement already satisfied: pandas in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in e:\documents\hslu\studium\workspaces\python\dspro2\emotion_recognition\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
fer2013_df = pd.read_csv("../../data/raw/fer2013/fer2013.csv", index_col=False)

fer2013_df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [4]:
fer2013plus_df = pd.read_csv("../../data/raw/fer2013/fer2013plus.csv", index_col=False)

fer2013plus_df.head()

,Usage,Image name,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown,NF
0,Training,fer0000000.png,4,0,0,1,3,2,0,0,0,0
1,Training,fer0000001.png,6,0,1,1,0,0,0,0,2,0
2,Training,fer0000002.png,5,0,0,3,1,0,0,0,1,0
3,Training,fer0000003.png,4,0,0,4,1,0,0,0,1,0
4,Training,fer0000004.png,9,0,0,1,0,0,0,0,0,0

In [5]:
fer2013plus_df = fer2013plus_df.rename(columns={"Image name" : "pixels"})

fer2013plus_df.head()

,Usage,pixels,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown,NF
0,Training,fer0000000.png,4,0,0,1,3,2,0,0,0,0
1,Training,fer0000001.png,6,0,1,1,0,0,0,0,2,0
2,Training,fer0000002.png,5,0,0,3,1,0,0,0,1,0
3,Training,fer0000003.png,4,0,0,4,1,0,0,0,1,0
4,Training,fer0000004.png,9,0,0,1,0,0,0,0,0,0

In [8]:
fer2013plus_df["pixels"] = fer2013_df["pixels"]
fer2013plus_df.head(10)

,Usage,pixels,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown,NF
0,Training,70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...,4,0,0,1,3,2,0,0,0,0
1,Training,151 150 147 155 148 133 111 140 170 174 182 15...,6,0,1,1,0,0,0,0,2,0
2,Training,231 212 156 164 174 138 161 173 182 200 106 38...,5,0,0,3,1,0,0,0,1,0
3,Training,24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...,4,0,0,4,1,0,0,0,1,0
4,Training,4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...,9,0,0,1,0,0,0,0,0,0
5,Training,55 55 55 55 55 54 60 68 54 85 151 163 170 179 ...,6,0,0,1,0,0,1,1,1,0
6,Training,20 17 19 21 25 38 42 42 46 54 56 62 63 66 82 1...,2,0,0,8,0,0,0,0,0,0
7,Training,77 78 79 79 78 75 60 55 47 48 58 73 77 79 57 5...,0,10,0,0,0,0,0,0,0,0
8,Training,85 84 90 121 101 102 133 153 153 169 177 189 1...,0,10,0,0,0,0,0,0,0,0
9,Training,255 254 255 254 254 179 122 107 95 124 149 150...,0,0,6,0,0,0,4,0,0,0

In [11]:
fer2013plus_df.to_csv("../../data/cleaned/fer2013new.csv", index=False)